*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

/* ---------- root variables ---------- */
:root {
  --black: #222;
  --grey: #555;
  --white: #fff;
  --blue: #39D7FF;
  --font-family: 'Lato', sans-serif;
}

/* ---------- general styling ---------- */

 body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: var(--font-family);
  color: var(--black);
}

a {
  text-decoration: none;
}

/*----- button -----*/
.button {
  background-color: transparent;
  border: 3px solid var(--blue);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--blue);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  height: 60px;
  width: 350px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-reverse {
  border: 3px solid var(--white);
  color: var(--white);
}

.button-reverse:hover {
  color: var(--blue);
  background-color: var(--white);
}

/* -----triangle background ------*/
.triangle-bg {
  background-image: url('../img/triangles.jpg');
  background-size: cover;
  height: 100%;
}


/* ---------- navbar ---------- */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  margin: 10px 0;
  border-radius: 7px;
}

.logo {
  position: absolute;
  top: -5px;
  left: 10px;
  height: 70px;
}

.nav-hover:hover {
  background-color: var(--blue);
  color: var(--white);
}

.membership {
  position: absolute;
  top: -8px;
  right: 0;
  height: 100px;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

/* ---------- mobile navbar ---------- */

.mobile-menu {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  max-width: 100%;
}

.mobile-logo {
  height: 70px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.burger-menu {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  cursor: pointer;
}

.burger-menu span {
  width: 40px;
  height: 5px;
  display: block;
  background: var(--white);
}

.burger-menu:hover span {
  background: var(--red);
}

@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }
}

/* ---- overlay ----*/

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  background-color: var(--black);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a,
.overlay span {
  padding: 15px;
  text-decoration: none;
  font-size: 36px;
  color: var(--white);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.overlay a:hover,
.overlay a:focus,
.overlay span:hover,
.overlay span:focus {
  color: var(--red);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.close-arrow {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 10px;
  text-decoration: underline;
}

.mobile-membership {
  width: 350px;
  display: block;
  margin: 10px auto;
}

@media (min-width: 900px) {
  .mobile-membership {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* --------------- contact section above footer ------------- */
.contact-section {
  overflow-y: hidden;
  height: 500px;
  background-image: url('../img/triangles.jpg');
  background-size: cover;
}


/* ---------------------- footer ----------------------*/



/* ------------ section 1 ------------ */

.landing-section {
  overflow-y: hidden;
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
}


.welcome {
  display: block;
  position: relative;
  text-align: center;
}


/* ------------ tiles ------------ */

.two-parts-section {
  height: 600px;
  display: flex;
  overflow-y: hidden;
  align-items: center;
}

.half-two-parts-section {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.half-two-parts-section h3 {
  text-align: center;
  margin-top: 30px;
}

.half-two-parts-section h4 {
  text-align: center;
}

.half-two-parts-section p {
  max-width: 550px;
  margin: 10px auto 30px;
}

.img-half {
  min-width: 100%;
  min-height: 600px;
  object-fit: cover;
}


/* ------------ testimonials -------------- */

.container-inner-shadow {
  width: 100%;
  position: relative;
  box-shadow: inset 1px 4px 9px -6px #888, inset 1px -4px 9px -6px #888;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;
  box-shadow: inset 1px 4px 9px -6px #888, inset 1px -4px 9px -6px #888;
}

/* Hide slides by default */
.mySlides {
  display: none;
}

/*header*/
.testimonials-header{
text-align: center;
margin: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*--------- testimonial content -----------*/

.client-profile {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.testimonial-container {

}

.client-description {
  position: relative;
  left: 70%;
}


/* ----------------------- NEWS PAGE STYLING ---------------------- */




.container{
box-sizing: border-box;
outline: none; border:none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
max-width: 1400px;
margin: 0 auto;
text-align: center;
padding:25px 20px;
}

.container .heading{
 font-size: 40px;
 margin-bottom: 20px;
}

.container .box-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 gap:20px;
}

.container .box-container .box{
 padding:20px;
 border-radius: 5px;
 box-shadow: 0 5px 10px rgba(0,0,0,.2);
 display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
 display: inline-block;
}

.container .box-container .box .content .btn{
 display: inline-block;
 padding:10px 30px;
 border:1px solid #334;
 color:#334;
 font-size: 16px;
}

#load-more{
 margin-top: 20px;
 display: inline-block;
 padding:13px 30px;
 border:1px solid #334;
 color:#334;
 font-size: 16px;
 background-color: #fff;
 cursor: pointer;
}

#load-more:hover{
 background-color: crimson;
 border-color: crimson;
 color:#fff;
}

@media (max-width:450px){

 .container .heading{
   font-size: 25px;
 }

 .container .box-container{
   grid-template-columns: 1fr;
 }

 .container .box-container .box .image{
   height: 200px;
 }

 .container .box-container .box .content p{
   font-size: 12px;
 }

 .container .box-container .box .content .icons span{
   font-size: 12px;
 }

}



/*-------------------------- cases page styling -------------------*/
@-webkit-keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  @keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  .slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  }
  .slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  }
  .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  }
  .slider::before {
  left: 0;
  top: 0;
  }
  .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  }
  .slider .slide {
  height: 100px;
  width: 250px;
  }

  /* ------------------------ About page ---------------------- */
  .triangles-section {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .triangles-section img {
    height: 300px;
  }
  .triangles-section span {
    width: 300px;
  }

.v-slider-section {
  justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
} 

.v-slider a{
    color: inherit;
}

.v-slider ul{
    list-style: none;
    padding: 0;
}

.v-slider ul > * + *{
    margin-top: 10px;
}

.v-slider li{
    display: block;
}

.v-slider li a.active{
    font-weight: bold;
}

.v-slider{
   width: 100%;
    color: var(--white);
    height: 500px;
    grid-template-columns: 35% 65%;
    position: relative;
    display: grid;   
}

.v-slider .v-content_container{
    padding: 40px;
}

.v-slider .v-slides{
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: none;
}

.v-slider .v-slides::-webkit-scrollbar{
    display: none;
}

.v-slider .v-slides .v-slide{
    min-height: calc(100% - 80px);
    display: flex;
    padding: 40px;
    color: #333;
    align-items: center;
    width: 450px;
}


 

  

  /* ------------------------ contact page -------------------- */
.contact-separate-section{
  width: 100%;
  text-align: center;
} 
.contact-separate-section div {
  display: block;
  margin: auto;
  padding: 100px;
}

/* ---------- contact form ------------ */

::selection{
  color: #fff;
  background: #0D6EFD;
}
.wrapper{
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #0D6EFD;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}


/* ------------ footer styling------------ */

footer {
  width: 100%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--grey);
  color: var(--white);
  
}

footer h4 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 24px;
  color: var(--blue);
  font-weight: lighter;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  padding: 50px;
}

.footer-element {
  margin: 0 30px;
  height: 400px;
  display: flex;
  flex-direction: column;
}


.footer-element a {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-element span {
  margin-bottom: 20px;
}



@media (max-width: 900px) {
  .footer-elements {
    flex-direction: column;
  }
}