*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

/* ---------- root variables ---------- */
:root {
  --black: #222;
  --grey: #555;
  --white: #fff;
  --blue: #39D7FF;
  --font-family: 'Lato', sans-serif;
}

/* ---------- general styling ---------- */

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: var(--font-family);
}

/*----- button -----*/
.button {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  height: 60px;
  width: 350px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}


/* ---------- navbar ---------- */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
}

.navbar a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 18px;
  text-decoration: none;
  margin: 10px 0;
}

.logo {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 70px;
}

.nav-hover:hover {
  background-color: var(--blue);
}

.membership {
  position: absolute;
  top: -8px;
  right: 0;
  height: 100px;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

/* ---------- mobile navbar ---------- */

.mobile-menu {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  max-width: 100%;
}

.mobile-logo {
  height: 70px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.burger-menu {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  cursor: pointer;
}

.burger-menu span {
  width: 40px;
  height: 5px;
  display: block;
  background: var(--white);
}

.burger-menu:hover span {
  background: var(--red);
}

@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }
}

/* ---- overlay ----*/

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  background-color: var(--black);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a,
.overlay span {
  padding: 15px;
  text-decoration: none;
  font-size: 36px;
  color: var(--white);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.overlay a:hover,
.overlay a:focus,
.overlay span:hover,
.overlay span:focus {
  color: var(--red);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.close-arrow {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 10px;
  text-decoration: underline;
}

.mobile-membership {
  width: 350px;
  display: block;
  margin: 10px auto;
}

@media (min-width: 900px) {
  .mobile-membership {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* --------------- contact section above footer ------------- */
.contact-section {
  overflow-y: hidden;
  height: 500px;
  background-image: url('../img/triangles.jpg');
  background-size: cover;
}


/* ---------------------- footer ----------------------*/



/* ------------ section 1 ------------ */

.landing-section {
  overflow-y: hidden;
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
}


.welcome {
  display: block;
  position: relative;
  text-align: center;
}


/* ------------ tiles ------------ */

.two-parts-section {
  height: 600px;
  display: flex;
  overflow-y: hidden;
  align-items: center;
}

.half-two-parts-section {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.half-two-parts-section h3 {
  text-align: center;
  margin-top: 30px;
}

.half-two-parts-section h4 {
  text-align: center;
}

.half-two-parts-section p {
  max-width: 550px;
  margin: 10px auto 30px;
}

.img-half {
  min-width: 100%;
  min-height: 600px;
  object-fit: cover;
}

.btn {
  height: 100px;
  display: block;
  margin: auto;
}

.icon {
  height: 120px;
  display: block;
  margin: auto;
}

/* ------------ testimonials -------------- */

.container-inner-shadow {
  width: 100%;
  position: relative;
  box-shadow: inset 1px 4px 9px -6px #888, inset 1px -4px 9px -6px #888;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;
  box-shadow: inset 1px 4px 9px -6px #888, inset 1px -4px 9px -6px #888;
}

/* Hide slides by default */
.mySlides {
  display: none;
}

/*header*/
.testimonials-header{
text-align: center;
margin: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*--------- testimonial content -----------*/

.client-profile {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.testimonial-container {

}

.client-description {
  position: relative;
  left: 70%;
}


/* ------------ SERVICES PAGE STYLING ------------ */

/*-- top of the page --*/
.activity-top {
  padding: 50px 0;
  background-image: url("../img/forest.png");
  background-position: center;
}

.activity-top img {
  height: 200px;
  display: block;
  margin: auto;
}

.activity-top h2,
.activity-top h4 {
  text-align: center;
}



/*-------------------------- cases page styling -------------------*/
@-webkit-keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  @keyframes scroll {
  0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  100% {
  -webkit-transform: translateX(calc(-250px * 7));
  transform: translateX(calc(-250px * 7));
  }
  }
  .slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  }
  .slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
  }
  .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  }
  .slider::before {
  left: 0;
  top: 0;
  }
  .slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  }
  .slider .slide {
  height: 100px;
  width: 250px;
  }


/* ------------ footer styling------------ */

footer {
  width: 100%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
}

footer h4 {
  text-align: center;
  margin-bottom: 30px;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.footer-element {
  margin: 0 30px;
  height: 400px;
}

/* contact part */
.contact-element p {
  margin-bottom: 15px;
}

.contact-element a {
  color: var(--white);
  font-weight: bold;
}

/*copyright*/
.copyright {
  text-align: center;
  font-size: 11px;
  font-weight: lighter;
  margin: auto;
  padding-bottom: 10px;
}

@media (max-width: 900px) {
  .footer-elements {
    flex-direction: column;
  }
}